<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <div style="height:10%;">
        <h1>Reports</h1>
      </div>

      <ul class="nav nav-pills nav-stacked">
        <li class="active">
          <button style="width:100%;" (click)="bs()">
            <h3>Balance Sheet</h3>
          </button>
        </li>
        <li>
          <button style="width:100%;" (click)="pol()">
            <h3>Profit or Loss</h3>
          </button>
        </li>
      </ul>
      <br>
    </div>


    <div class="col-sm-9">
      <div *ngIf="bsclick">
        <h1>Balance Sheet</h1>
        <hr>
        <h2>All balance</h2>

        <p>Choose Date:</p>
        <input type="datetime-local" class="form-control" id="date" required [(ngModel)]="inputDate" name="date" #date='ngModel'
          placeholder="timestamp">
        <button (click)="inputComfirm(inputDate)">comfirm</button>
        <button (click)="lastBalance()">latest Balance</button>
        <table class="table">
          <thead>
            <tr>
              <td>currency</td>
              <td>market</td>
              <td>amount</td>
              <td>balance value</td>
              <td>market value</td>
              <td>price in AUD</td>
              <td>time</td>
            </tr>
          </thead>
          <tr *ngFor="let balance of lastoneBalance">
            <td>{{balance.name}}</td>
            <td>{{balance.market}}</td>
            <td>{{balance.balance_amount}}</td>
            <td>{{balance.balance_value}}</td>
            <td>{{balance.market_value}}</td>
            <td>{{balance.price}}</td>
            <td>{{balance.date | date:'medium'}}</td>
          </tr>
        </table>
        <button class="button" (click)="exportBalance()">Export</button>
        <hr>
        <h2>summary</h2>
        <button (click)="balanceSummary()">click</button>
        <table class="table">
          <thead>
            <tr>
              <td>currency</td>
              <td>amount</td>
              <td>balance value</td>
              <td>market value</td>
              <td>unrealized_gain_or_loss</td>
            </tr>
          </thead>
          <tr *ngFor="let summary of summarys">
            <td>{{summary.name}}</td>
            <td>{{summary.amount}}</td>
            <td>{{summary.balance_value}}</td>
            <td>{{summary.market_value}}</td>
            <td>{{summary.unrealized_gain_or_loss}}</td>
            <td></td>
          </tr>
        </table>
        <button class="button" (click)="exportSummary()">Export</button>
      </div>



      <div *ngIf="polclick">
        <h1>Profit or Loss</h1>
        <hr>
        <p>from date: </p>
        <input type="datetime-local" class="form-control" id="date" required [(ngModel)]="poloss.fromdate"
          name="date" #date='ngModel' placeholder="timestamp">
        <p>to date:</p>
        <input type="datetime-local" class="form-control" id="date" required [(ngModel)]="poloss.todate" name="date"
          #date='ngModel' placeholder="timestamp">
        <button class="button" (click)="polfilter(poloss)">Search</button>
        <table class="table">
          <thead>
            <tr>
              <td>output_currency</td>
              <td>exchange</td>
              <td>realize_gain_loss</td>
              <td>date</td>
              <td></td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let filteredpoldata of filteredpoldatas">
              <td>{{filteredpoldata.output_currency}}</td>
              <td>{{filteredpoldata.exchange}}</td>
              <td>{{filteredpoldata.realize_gain_loss}}</td>
              <td>{{filteredpoldata.date | date}}</td>
            </tr>
          </tbody>
        </table>
        <button (click)="exportpol()">export as csv</button>
        <hr>

        <h1>profit or loss summary</h1>
        <button (click)="polsum()">sum</button>
        <table class="table">
          <thead>
            <tr>
              <td>currency</td>
              <td>exchange</td>
              <td>realized_gain_loss</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let rgl of rglsum">
              <td>{{rgl.currency}}</td>
              <td>{{rgl.exchange}}</td>
              <td>{{rgl.realized_gain_loss}}</td>
            </tr>
          </tbody>
        </table>
        <button (click)="exportpolsum()">export as csv</button>
      </div>


    </div>
  </div>
</div>