<div class="col-lg-12">
  <h1>All Records</h1>
  <div class="col-sm-6">
    <div class="col-sm-3">From Date
    </div>
    <div class="col-sm-6">
      <input type="datetime-local" class="form-control" [(ngModel)]="inputData.from_date" placeholder="From date">
    </div>
  </div>
  <div class="col-sm-6">
    <div class="col-sm-3">To Date</div>
    <div class="col-sm-6">
      <input type="datetime-local" class="form-control" [(ngModel)]="inputData.to_date" placeholder="To date">
    </div>
  </div>
  <input class="form-control" [(ngModel)]="inputData.exchange" placeholder="Exchange">
  <input class="form-control" [(ngModel)]="inputData.input_currency" placeholder="input currency">
  <div class="col-sm-6">
    <input type="number" class="form-control" [(ngModel)]="inputData.input_amount_minimum" placeholder="input amount: more and equal to">
  </div>
  <div class="col-sm-6">
    <input type="number" class="form-control" [(ngModel)]="inputData.input_amount_maximum" placeholder="input_amount: less than">
  </div>
  <input class="form-control" [(ngModel)]="inputData.output_currency" placeholder="output_currency">
  <div class="col-sm-6">
    <input type="number" class="form-control" [(ngModel)]="inputData.output_amount_minimum" placeholder="output_amount_minimum">
  </div>
  <div class="col-sm-6">
    <input type="number" class="form-control" [(ngModel)]="inputData.output_amount_maximum" placeholder="output_amount_maximum">
  </div>
  <input class="form-control" [(ngModel)]="inputData.side" placeholder="Side">
  <button (click)="searchData(inputData)">Search</button>

  <!-- <form id = "filter">
      <label>Filter by ID</label>
      <input type="text" [(ngModel)] = "term" name="something"/>
    </form>  -->
  <ng-container *ngIf="ifSearch">
    <table class="table">
      <thead>
        <tr>
          <td>id</td>
          <td>date</td>
          <td>price</td>
          <td>exchange</td>
          <td>fee_amount</td>
          <td>side</td>
          <td>output_currency</td>
          <td>output_amount</td>
          <td>input_currency</td>
          <td>input_amount</td>
          <td>fee_currency</td>
        </tr>
      </thead>
      <tbody class="coins" *ngFor="let data of datas | paginate: { itemsPerPage: 100, currentPage: p1, id: 'first'}">
        <tr>
          <ng-container *ngIf="data === selectedCoin">
            <td>
              <input type="number" [(ngModel)]="selectedCoin.id" #id placeholder="id">
            </td>
            <td>
              <input type="datetime-local" [(ngModel)]="selectedCoin.date" #date placeholder="date">
            </td>
            <td>
              <input type="number" [(ngModel)]="selectedCoin.price" #price placeholder="price">
            </td>
            <td>
              <input [(ngModel)]="selectedCoin.exchange" #exchange placeholder="exchange">
            </td>
            <td>
              <input type="number" [(ngModel)]="selectedCoin.fee_amount" #feeAmount placeholder="fee_amount">
            </td>
            <td>
              <input [(ngModel)]="selectedCoin.side" #side placeholder="side">
            </td>
            <td>
              <input [(ngModel)]="selectedCoin.output_currency" #outputCurrency placeholder="output_currency">
            </td>
            <td>
              <input type="number" [(ngModel)]="selectedCoin.output_amount" #outputAmount placeholder="output_amount">
            </td>
            <td>
              <input [(ngModel)]="selectedCoin.input_currency" #inputCurrency placeholder="input_currency">
            </td>
            <td>
              <input type="number" [(ngModel)]="selectedCoin.input_amount" #inputAmount placeholder="input_amount">
            </td>
            <td>
              <input [(ngModel)]="selectedCoin.fee_currency" #feeCurrency placeholder="fee_currency">
            </td>
            <td>
              <button (click)="updateCoin(selectedCoin)" class="btn btn-primary">Update</button>
            </td>
            <td>
              <button (click)="searchData(inputData)" class="btn btn-primary">Cancel</button>
            </td>
          </ng-container>
          <ng-container *ngIf="data !== selectedCoin">
            <td>{{data.id}}</td>
            <td>{{data.date | date:'medium'}}</td>
            <td>{{data.price}}</td>
            <td>{{data.exchange}}</td>
            <td>{{data.fee_amount}}</td>
            <td>{{data.side}}</td>
            <td>{{data.output_currency}}</td>
            <td>{{data.output_amount}}</td>
            <td>{{data.input_currency}}</td>
            <td>{{data.input_amount}}</td>
            <td>{{data.fee_currency}}</td>
            <td>
              <button (click)="deleteCoin(data._id)" class="btn btn-danger">Delete</button>
            </td>
            <td>
              <button (click)="edit(data)" class="btn btn-primary">edit</button>
              <td>
          </ng-container>
        </tr>
      </tbody>
    </table>
    <pagination-controls autoHide="false" (pageChange)="p1 = $event" id="first"></pagination-controls>

  </ng-container>
<button class="button" (click)="exportBalance()">Export</button>


  <table class="table table-hover">
    <thead>
      <tr>
        <td>action</td>
        <td>id</td>
        <td>date</td>
        <td>price</td>
        <td>exchange</td>
        <td>fee_amount</td>
        <td>side</td>
        <td>output_currency</td>
        <td>output_amount</td>
        <td>input_currency</td>
        <td>input_amount</td>
        <td>fee_currency</td>
        <td>Action</td>
        <td>Action</td>
      </tr>
    </thead>
    <tbody class="coins" *ngFor="let coin of coins | paginate: { itemsPerPage: 100, currentPage: p2, id:'second' }">
      <tr>
        <ng-container *ngIf="coin === selectedCoin">
          <td></td>
          <td>
            <input type="number" [(ngModel)]="selectedCoin.id" #id placeholder="id">
          </td>
          <td>
            <input type="number" [(ngModel)]="selectedCoin.date" #date placeholder="date">
          </td>
          <td>
            <input type="number" [(ngModel)]="selectedCoin.price" #price placeholder="price">
          </td>
          <td>
            <input [(ngModel)]="selectedCoin.exchange" #exchange placeholder="exchange">
          </td>
          <td>
            <input type="number" [(ngModel)]="selectedCoin.fee_amount" #feeAmount placeholder="fee_amount">
          </td>
          <td>
            <input [(ngModel)]="selectedCoin.side" #side placeholder="side">
          </td>
          <td>
            <input [(ngModel)]="selectedCoin.output_currency" #outputCurrency placeholder="output_currency">
          </td>
          <td>
            <input type="number" [(ngModel)]="selectedCoin.output_amount" #outputAmount placeholder="output_amount">
          </td>
          <td>
            <input [(ngModel)]="selectedCoin.input_currency" #inputCurrency placeholder="input_currency">
          </td>
          <td>
            <input type="number" [(ngModel)]="selectedCoin.input_amount" #inputAmount placeholder="input_amount">
          </td>
          <td>
            <input [(ngModel)]="selectedCoin.fee_currency" #feeCurrency placeholder="fee_currency">
          </td>
          <td>
            <button (click)="updateCoin(selectedCoin)" class="btn btn-primary">Update</button>
          </td>
          <td>
            <button (click)="cancelUpdate()" class="btn btn-primary">Cancel</button>
          </td>
        </ng-container>
        <ng-container *ngIf="coin !== selectedCoin">
          <td>
            <a (click)="addNew(coin)" class="aaa">Add</a> |
            <a (click)="cancelUpdate()" class="aaa">Close</a>
          </td>
          <td>{{coin.id}}</td>
          <td>{{coin.date | date:'medium'}}</td>
          <td>{{coin.price}}</td>
          <td>{{coin.exchange}}</td>
          <td>{{coin.fee_amount}}</td>
          <td>{{coin.side}}</td>
          <td>{{coin.output_currency}}</td>
          <td>{{coin.output_amount}}</td>
          <td>{{coin.input_currency}}</td>
          <td>{{coin.input_amount}}</td>
          <td>{{coin.fee_currency}}</td>
          <td>
            <button (click)="deleteCoin(coin._id)" class="btn btn-danger">Delete</button>
          </td>
          <td>
            <button (click)="edit(coin)" class="btn btn-primary">edit</button>
            <td>
        </ng-container>
      </tr>
      <ng-container *ngIf="addNewRecord && coin === selectedCoinRecord">
        <tr>
          <td colspan="14">
            <app-add></app-add>
          </td>
        </tr>
        <!-- <tr>
            <td colspan="14"><button (click)="cancelUpdate()"  class="btn btn-primary">Cancel</button></td>
          </tr> -->
      </ng-container>
    </tbody>
  </table>
  <div class="has-text-centered">
    <pagination-controls autoHide="false" (pageChange)="p2 = $event" id="second"></pagination-controls>
  </div>
</div>