<div class="container">
  <div>
    <h1>Set time duration to get data calculated</h1>
    <!-- The calculation date has been done to {{lastDate}} -->
  </div>
  <label>From time</label>
  <input type = "datetime-local" class="form-control" [(ngModel)]="fromTime" placeholder="from date">
  <label>To time</label>
  <input type = "datetime-local" class="form-control" [(ngModel)]="toTime" placeholder="To date">
  <br>
  <button (click)="calculation(fromTime,toTime)" class="btn btn-primary">Calcution</button>
  <br>
  <div *ngIf = "isclick">{{status}}</div>

</div>
<hr>
<div class="container">
    <div>
      <h1>Set time duration to generate report</h1>
      <p>The report has been generated to    {{lastReportDate}}</p>
      <p>hint:the start date should be earlier or equal to last report date + 1</p>
      <p>hint2: the time input should 12:00 </p>
    </div>
    <label>From time</label>
    <input type = "datetime-local" class="form-control" [(ngModel)]="ft" placeholder="from date">
    <label>To time</label>
    <input type = "datetime-local" class="form-control" [(ngModel)]="tt" placeholder="To date">
    <br>
    <button (click)="report(ft,tt)" class="btn btn-primary">Generate Report</button>
    <br>
    <div *ngIf = "isreportclick">{{reportstatus}}</div>
    
  </div>



<!-- <h1>set </h1> -->