<div class="container" *ngIf = "cancelAddRecord">
  <!-- <div [hidden]="submitted"> -->
    <h1>New Record Form</h1>
    <form (ngSubmit)="onSubmit()" #recordForm="ngForm">
      <div class = "col-lg-6">
      <div class="form-group">
        <label for="id">ID</label>
        <input type="number" class="form-control" id="id" [(ngModel)]="data.id" name="id" #id="ngModel" placeholder="ID">
        <div [hidden]="id.valid || id.pristine" class="alert alert-danger">
          ID is
        </div>
      </div>

      <div class="form-group">
        <label for="date">Date</label>
        <input type="number" class="form-control" id="date" [(ngModel)]="data.date" name="date" #date='ngModel' placeholder="timestamp">
        <div [hidden]="date.valid || date.pristine" class="alert alert-danger">
          Date is
        </div>
      </div>

      <div class="form-group">
        <label for="price">Price</label>
        <input type="text" class="form-control" id="price" [(ngModel)]="data.price" name="price" #price='ngModel' placeholder="Price">
        <div [hidden]="price.valid || price.pristine" class="alert alert-danger">
          Price is
        </div>
      </div>

      <div class="form-group">
        <label for="exchange">exchange</label>
        <input type="text" class="form-control" id="price" [(ngModel)]="data.exchange" name="exchange" #exchange='ngModel' placeholder="exchange">
      </div>

      <div class="form-group">
        <label for="side">side</label>
        <select class = "form-control" [(ngModel)]="data.side" name="side">
            <option *ngFor="let side of sides">
              {{side.name}}
            </option>
          </select>
      </div>

      <div class="form-group">
        <label for="input_currency">input currency</label>
        <input type="text" class="form-control" id="input_currency" [(ngModel)]="data.input_currency" name="input_currency"
          #input_currency='ngModel' placeholder="input currency">
        <div [hidden]="input_currency.valid || input_currency.pristine" class="alert alert-danger">
          input currency is
        </div>
      </div>

      <div class="form-group">
        <label for="input_amount">input amount</label>
        <input type="number" class="form-control" id="input_amount" placeholder="input amount" [(ngModel)]="data.input_amount" name="input_amount" #input_amount='ngModel'>
        <div [hidden]="input_amount.valid || input_amount.pristine" class="alert alert-danger">
          input amount is
        </div>
      </div>
    </div>
    <div class="col-lg-6">



      <div class="form-group">
        <label for="output_currency">output currency</label>
        <input type="text" class="form-control" id="output_currency" [(ngModel)]="data.output_currency" name="output_currency"
          #output_currency='ngModel' placeholder="output currency">
        <div [hidden]="output_currency.valid || output_currency.pristine" class="alert alert-danger">
          output currency is
        </div>
      </div>

      <div class="form-group">
        <label for="output_amount">output amount</label>
        <input type="number" class="form-control" id="output_amount" [(ngModel)]="data.output_amount" name="output_amount"
          #output_amount='ngModel' placeholder="output amount">
        <div [hidden]="output_amount.valid || output_amount.pristine" class="alert alert-danger">
          output amount is
        </div>
      </div>




      <div class="form-group">
        <label for="fee_currency">fee currency</label>
        <input type="text" class="form-control" id="fee_currency" placeholder="fee currency"  [(ngModel)]="data.fee_currency" name="fee_currency" #fee_currency='ngModel'>
        <div [hidden]="fee_currency.valid || fee_currency.pristine" class="alert alert-danger">
          fee currency is
        </div>
      </div>

      <div class="form-group">
        <label for="fee_amount">fee amount</label>
        <input type="number" class="form-control" id="fee_amount" placeholder="fee amount"  [(ngModel)]="data.fee_amount" name="fee_amount" #fee_amount='ngModel'>
        <div [hidden]="fee_amount.valid || fee_amount.pristine" class="alert alert-danger">
          fee amount is
        </div>
      </div>

      <div class="form-group">
        <label for="status">status</label>
        <input type="text" class="form-control" placeholder="status"  id="status" [(ngModel)]="data.status" name="status" #status='ngModel'>
        <div [hidden]="status.valid || status.pristine" class="alert alert-danger">
          status is
        </div>
      </div>

      <div class="form-group">
          <label for="source">source</label>
          <input type="text" class="form-control" id="source"  placeholder="source" [(ngModel)]="data.source" name="source" #source='ngModel'>
        </div>

</div>
      <button type="submit" class="btn btn-success" [disabled]="!recordForm.form.valid">Submit</button>
    </form>
  <!-- </div> -->

  <!-- <div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">Id</div>
      <div class="col-xs-9  pull-left">{{ data.id }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">date</div>
      <div class="col-xs-9 pull-left">{{ data.date }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">price</div>
      <div class="col-xs-9 pull-left">{{ data.price }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">exchange</div>
      <div class="col-xs-9 pull-left">{{ data.exchange }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">side</div>
      <div class="col-xs-9 pull-left">{{ data.side }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">input_currency</div>
      <div class="col-xs-9 pull-left">{{ data.input_currency }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">input_amount</div>
      <div class="col-xs-9 pull-left">{{ data.input_amount }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">input_balance_amount</div>
      <div class="col-xs-9 pull-left">{{ data.input_balance_amount }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">input_balance_value</div>
      <div class="col-xs-9 pull-left">{{ data.input_balance_value }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">output_currency</div>
      <div class="col-xs-9 pull-left">{{ data.output_currency }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">output_amount</div>
      <div class="col-xs-9 pull-left">{{ data.output_amount }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">output_balance_amount</div>
      <div class="col-xs-9 pull-left">{{ data.output_balance_amount }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">output_balance_value</div>
      <div class="col-xs-9 pull-left">{{ data.output_balance_value }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">fee_currency</div>
      <div class="col-xs-9 pull-left">{{ data.fee_currency }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">fee_amount</div>
      <div class="col-xs-9 pull-left">{{ data.fee_amount }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">cryptoPaymentDetail_address</div>
      <div class="col-xs-9 pull-left">{{ data.cryptoPaymentDetail.address }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">cryptoPaymentDetail_txId</div>
      <div class="col-xs-9 pull-left">{{ data.cryptoPaymentDetail.txId }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">status</div>
      <div class="col-xs-9 pull-left">{{ data.status }}</div>
    </div>
    <div class="row">
        <div class="col-xs-3"><source></div>
        <div class="col-xs-9 pull-left">{{ data.source }}</div>
      </div>

    <br>
    <button class="btn btn-primary" (click)="submitted=false">Edit</button>
  </div> -->
</div>
