<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Golden Ledger</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a routerLink="/setting">Setting</a></li>
      <li><a routerLink="./alldata">All Data</a></li>
      <li><a routerLink="./view">Match</a></li>
      <li><a routerLink="./report">Report</a></li>
      <li><a routerLink="./search">BTCmarket</a></li>
    </ul>
  </div>
</nav>
  <h3>Choose database</h3>
<select [(ngModel)]="database" name="database">
  <option *ngFor="let database of databases">
    {{database.name}}
  </option>
  </select>
  <button (click) = "chooseDatabase(database)">Submit</button>
  <br>
  <p>Currently you are on database: <span style="font-weight: 800;">{{selectedDatabase}}</span></p>

<router-outlet></router-outlet>
