<div>
    <button (click)="getAllMatchTxId()">Get Matched txId</button>
</div>
<div class="alldata" style='display:inline-flex'>
    <div class="col-lg-6">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>Coin id</td>
                    <td>Coin date</td>
                    <td>Coin price</td>
                    <td>Coin exchange</td>
                    <td>Coin side</td>
                    <td>Coin input_currency</td>
                    <td>Coin input_amount</td>
                    <td>txId</td>
                    <td colspan="2">Actions</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let coin of depositCoinsTxid; let i = index">
                    <td>{{ coin.id }}</td>
                    <td>{{ coin.date | date:'medium'}}</td>
                    <td>{{ coin.price }}</td>
                    <td>{{ coin.exchange }}</td>
                    <td>{{ coin.side }}</td>
                    <td>{{ coin.input_currency }}</td>
                    <td>{{ coin.input_amount }}</td>
                    <td>{{coin.txId}}</td>
                    <td>
                        <button (click)="confirmMatch(coin, i)">OK</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-6">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>Coin id</td>
                    <td>Coin date</td>
                    <td>Coin price</td>
                    <td>Coin exchange</td>
                    <td>Coin side</td>
                    <td>Coin input_currency</td>
                    <td>Coin input_amount</td>
                    <td>txId</td>
                    <td colspan="2">Actions</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let coin of withdrawCoinsTxid; let i = index">
                    <td>{{ coin.id }}</td>
                    <td>{{ coin.date | date:'medium'}}</td>
                    <td>{{ coin.price }}</td>
                    <td>{{ coin.exchange }}</td>
                    <td>{{ coin.side }}</td>
                    <td>{{ coin.output_currency }}</td>
                    <td>{{ coin.output_amount }}</td>
                    <td>{{coin.txId}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
<hr>




<div style='display:inline-flex'>
    <div class="col-lg-6">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>Coin id</td>
                    <td>Coin date</td>
                    <td>Coin exchange</td>
                    <td>Coin side</td>
                    <td>Coin input_currency</td>
                    <td>Coin input_amount</td>
                    <td>coin txId</td>
                    <td colspan="2">Actions</td>
                </tr>
            </thead>

            <tbody [sortablejs]="depositCoins">
                <tr *ngFor="let coin of depositCoins; let i = index">
                    <td>{{ coin.id }}</td>
                    <td>{{ coin.date | date:'medium'}}</td>
                    <td>{{ coin.exchange }}</td>
                    <td>{{ coin.side }}</td>
                    <td>{{ coin.input_currency }}</td>
                    <td>{{ coin.input_amount }}</td>
                    <td>{{coin.txId}}</td>
                    <td>{{coin.status}}</td>
                    <td>
                        <button (click)="confirm(coin, i)">OK</button>
                    </td>
                    <td>
                        <button (click)="gift(coin)">Gift</button>
                    </td>
                    <td>
                        <button (click)="impute(coin)">Impute</button>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-6">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>Action</td>
                    <td>Action</td>
                    <td>Coin id</td>
                    <td>Coin date</td>
                    <td>Coin exchange</td>
                    <td>Coin side</td>
                    <td>Coin output_currency</td>
                    <td>Coin output_amount</td>
                    <td colspan="2">Actions</td>
                </tr>
            </thead>

            <tbody [sortablejs]="withdrawCoins">
                <tr *ngFor="let coin of withdrawCoins; let i = index">
                    <td>
                        <button (click)="fee(coin)">fee</button>
                    </td>
                    <td>
                        <button (click)="setaside(coin)">set aside</button>
                    </td>
                    <td>{{ coin.id }}</td>
                    <td>{{ coin.date | date:'medium'}}</td>
                    <td>{{ coin.exchange }}</td>
                    <td>{{ coin.side }}</td>
                    <td>{{ coin.output_currency }}</td>
                    <td>{{ coin.output_amount }}</td>
                    <td>{{ coin.txId }}</td>
                    <td>{{ coin.status }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr>
<div>
    <button class="btn" (click)="showAllMatched()">show all matched data</button>
</div>
<div style='display:inline-flex'>
    <div class="col-lg-6">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>Coin id</td>
                    <td>Coin date</td>
                    <td>Coin exchange</td>
                    <td>Coin side</td>
                    <td>Coin input_currency</td>
                    <td>Coin input_amount</td>
                    <td>txId</td>
                    <td colspan="2">Actions</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let coin of depositMatchedCoinsWithWithdraw; let i = index">
                    <td>{{ coin.id }}</td>
                    <td>{{ coin.date | date:'medium'}}</td>
                    <td>{{ coin.exchange }}</td>
                    <td>{{ coin.side }}</td>
                    <td>{{ coin.input_currency }}</td>
                    <td>{{ coin.input_amount }}</td>
                    <td>{{coin.txId}}</td>
                    <td>{{coin.source}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-6">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td></td>
                    <td>Coin id</td>
                    <td>Coin date</td>
                    <td>Coin exchange</td>
                    <td>Coin side</td>
                    <td>Coin input_currency</td>
                    <td>Coin input_amount</td>
                    <td>txId </td>
                    <td colspan="2">Actions</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let coin of widthdrawMatchedCoins; let i = index">
                    <td>
                        <button (click)="unMatch(coin, i)">unMatch</button>
                    </td>
                    <td>{{ coin.id }}</td>
                    <td>{{ coin.date | date:'medium'}}</td>
                    <td>{{ coin.exchange }}</td>
                    <td>{{ coin.side }}</td>
                    <td>{{ coin.output_currency }}</td>
                    <td>{{ coin.output_amount }}</td>
                    <td>{{coin.txId}}</td>
                    <td>{{coin.source}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>


<div>
    <button class="btn" (click)="getSetasideList()">show all side:setaside record</button>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <td>Coin id</td>
                <td>Coin date</td>
                <td>Coin exchange</td>
                <td>Coin side</td>
                <td>Coin output_currency</td>
                <td>Coin output_amount</td>
                <td>txId </td>
                <td>Actions</td>
                <td>status</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let setaside of setasides; let i = index">
                <td>{{ setaside.id }}</td>
                <td>{{ setaside.date | date:'medium'}}</td>
                <td>{{ setaside.exchange }}</td>
                <td>{{ setaside.side }}</td>
                <td>{{ setaside.output_currency }}</td>
                <td>{{ setaside.output_amount }}</td>
                <td>{{ setaside.txId }}</td>
                <td>{{ setaside.source }}</td>
                <td>{{setaside.status}}</td>
                <td>
                    <button class="btn" (click)="resetWithdraw(setaside)">Reset To withdraw</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<hr>
<div>
    <button class="btn" (click)="getFeeList()">show all side:fee record</button>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <td>Coin id</td>
                <td>Coin date</td>
                <td>Coin exchange</td>
                <td>Coin side</td>
                <td>Coin output_currency</td>
                <td>Coin output_amount</td>
                <td>txId </td>
                <td>Actions</td>
                <td>status</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let fee of fees; let i = index">
                <td>{{ fee.id }}</td>
                <td>{{ fee.date | date:'medium'}}</td>
                <td>{{ fee.exchange }}</td>
                <td>{{ fee.side }}</td>
                <td>{{ fee.output_currency }}</td>
                <td>{{ fee.output_amount }}</td>
                <td>{{ fee.txId }}</td>
                <td>{{ fee.source }}</td>
                <td>{{fee.status}}</td>
                <td>
                    <button class="btn" (click)="resetWithdraw(fee)">Reset To withdraw</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<hr>


<div>
    <button class="btn" (click)="getGiftList()">show all side:gift record</button>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <td>Coin id</td>
                <td>Coin date</td>
                <td>Coin exchange</td>
                <td>Coin side</td>
                <td>Coin input_currency</td>
                <td>Coin input_amount</td>
                <td>txId </td>
                <td>status</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let gift of gifts; let i = index">
                <td>{{ gift.id }}</td>
                <td>{{ gift.date | date:'medium'}}</td>
                <td>{{ gift.exchange }}</td>
                <td>{{ gift.side }}</td>
                <td>{{ gift.input_currency }}</td>
                <td>{{ gift.input_amount }}</td>
                <td>{{ gift.txId }}</td>
                <td>{{gift.status}}</td>
                <td>
                    <button class="btn" (click)="resetDeposit(gift)">Reset To Deposit</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<hr>
<app-price-input></app-price-input>
<div class="container">
    <h4>data verify</h4>
</div>
<div class="container">
    <button class="btn" (click)="dataverify()">Data Verify</button>
</div>
<br>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <td>Coin id</td>
                <td>Coin date</td>
                <td>Coin exchange</td>
                <td>Coin side</td>
                <td>Coin input_currency</td>
                <td>Coin input_amount</td>
                <td>Coin output_currency</td>
                <td>Coin output_amount</td>
                <td>txId </td>
                <td>Actions</td>
                <td>status</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tdw of timeDepositWithdraw; let i = index">
                <td>{{ tdw.id }}</td>
                <td>{{ tdw.date | date:'medium'}}</td>
                <td>{{ tdw.exchange }}</td>
                <td>{{ tdw.side }}</td>
                <td>{{ tdw.input_currency }}</td>
                <td>{{ tdw.input_amount }}</td>
                <td>{{ tdw.output_currency }}</td>
                <td>{{ tdw.output_amount }}</td>
                <td>{{ tdw.txId }}</td>
                <td>{{ tdw.source }}</td>
                <td>{{tdw.status}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <button class="btn" (click)="duplicateTime()">duplicate Time</button>
</div>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <td>Coin id</td>
                <td>Coin date</td>
                <td>Coin exchange</td>
                <td>Coin side</td>
                <td>Coin input_currency</td>
                <td>Coin input_amount</td>
                <td>Coin output_currency</td>
                <td>Coin output_amount</td>
                <td>txId </td>
                <td>Actions</td>
                <td>status</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let timeD of timeDuplicatie; let i = index">
                <td>{{ timeD.id }}</td>
                <td>{{ timeD.date}}</td>
                <td>{{ timeD.exchange }}</td>
                <td>{{ timeD.side }}</td>
                <td>{{ timeD.input_currency }}</td>
                <td>{{ timeD.input_amount }}</td>
                <td>{{ timeD.output_currency }}</td>
                <td>{{ timeD.output_amount }}</td>
                <td>{{ timeD.txId }}</td>
                <td>{{ timeD.source }}</td>
                <td>{{timeD.status}}</td>
            </tr>
        </tbody>
    </table>
</div>
<hr>