<div>
    <button (click)="getCurrencyList()">click</button>
    <br>
    <br>
    <button (click)="getImputeList()">show all side:impute record</button>

</div>
<div>
    <li *ngFor="let coin of coinList">
      <ul>
        {{ coin }} : 
        <input [(ngModel)]="coins[coin]">
      </ul>

    </li>
</div>
<br><br>
<div>
  <table class = "table">
    <thead>
      <td>Id</td>
      <td>exchange</td>
      <td>input_currency</td>
      <td>input amount</td>
      <td>side</td>
      <td>price</td>
      <td>action</td>
      <td>input balance value</td>
    </thead>
    <tbody *ngFor="let impute of imputeList">
    <tr *ngIf = "selected === impute">
      <td>{{impute.id}}</td>
      <td>{{impute.exchange}}</td>
      <td>{{impute.input_currency}}</td>
      <td>{{impute.input_amount}}</td>
      <td>{{impute.side}}</td>
      <td>{{impute.price}}</td>
      <td><button (click) = "edit(impute)">Edit</button></td>
      <td><input type = "number" [(ngModel)]="impute.input_balance_value"></td>
      <td><button (click) = "update(impute)">Update</button></td>
    </tr>
    <tr *ngIf = "selected !== impute">
        <td>{{impute.id}}</td>
        <td>{{impute.exchange}}</td>
        <td>{{impute.input_currency}}</td>
        <td>{{impute.input_amount}}</td>
        <td>{{impute.side}}</td>
        <td>{{impute.price}}</td>
        <td><button (click) = "edit(impute)">Edit</button></td>
        <td><button class="btn" (click)="resetDeposit(impute)">Reset To Deposit</button></td>
      </tr>
    </tbody>
  </table>

    

</div>