.row.content {height: 1500px}
    
.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}
    
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}
    
@media screen and (max-width: 767px) {
    .sidenav {
    height: auto;
    padding: 15px;
    }
      .row.content {height: auto;} 
}