<div class="Block">
    <h1>Submit a BTCMarket CSV file to database</h1>
    <!-- <input class = "input-file"type='file' (change)="fileChanged($event)"> -->
    <label class="btn btn-default btn-file">
      Choose File <input type="file" (change)="csvfileChanged($event)">
    </label>
</div>
<br>
<div><input type="text" style="width:20%;" class="form-control" id="price" [(ngModel)]="exchangeName" name="price" #price='ngModel' placeholder="type in a exchange name">
<p>hint:the btcmarket name is eg. btcmarket_huobi_1,btcmarket_acx_1</p>
<br>
<button type="button" class="btn btn-primary" 
     (click)="uploadDocument($event,exchangeName)">Upload File</button>
<br>
<br>
<div><p>error message is {{errorMessage}}</p></div>
<div><p>finish message is {{finishMessage}}</p></div>
</div>
<!-- <div class="Block">
      <h1>Submit a Json file to database</h1>
      <!-- <input class = "input-file"type='file' (change)="fileChanged($event)"> -->
      <!-- <label class="btn btn-default btn-file">
        Choose File <input type="file" style="display: none;" (change)="jsonfileChanged($event)">
      </label>
  </div>
  <br>
  <button type="button" class="btn btn-primary" 
       (click)="uploadJson()">Upload File</button> --> 









